<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:targetApi="n">
        <activity
            android:name=".Activities.ActivityVideoDownload"
            android:exported="false" />
        <activity
            android:name=".Activities.ActivityVideoPlayer"
            android:exported="false" />
        <activity
            android:name=".Activities.EditMoviesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserProfilesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SavedPostActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AboutDesclaimerActivity"
            android:exported="false" />
        <activity
            android:name=".Categories.RelatedMoviesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.YoutubePlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name=".Activities.MyPostActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FavoriteListActivity"
            android:exported="false" />
        <activity
            android:name=".Categories.CategoryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FeedsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddFeedsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FollowUsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MoviesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddMoviesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PremiumActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignOutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1183995713269973~7756286652"/>
        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" />
        <meta-data
            android:name="com.onesignal.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_onesignal_default" />
    </application>

</manifest>